.container {
    width: 800px;

    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    background-color: rgba(250, 253, 204, 0.75);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
        -23px 0 20px -23px rgba(0, 0, 0, 0.8),
        23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
